asgiref==3.7.2
Django==4.2.7
django-constance==3.1.0
django-picklefield==3.1
django-tables2==2.7.0
dj-database-url==2.1.0
gunicorn==21.2.0
mysqlclient==2.2.4
openpyxl==3.1.2
pandas==2.2.1
python-dotenv==1.0.0
whitenoise==6.6.0
psycopg2-binary==2.9.9
requests==2.31.0
Pillow==10.1.0
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
tabula-py==2.9.0
beautifulsoup4==4.12.3
