body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

html {
    overflow-x: hidden;
    height: 100%;
}

.openbtn {
    display: none;
    position: fixed;
    font-size: 20px;
    cursor: pointer;
    background-color: #444;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}


.completed {
    text-decoration: line-through;
    color: #ccc;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

@media (max-width: 768px) {
    .sidebar-container {
        display: none;
        /* Küçük ekranlarda sidebar'ı gizle */
    }

    .navbar .nav-item .nav-link {
        padding: 5px;
        /* Nav link padding'ini azalt */
    }

    .table-responsive table {
        font-size: 14px;
        /* Tablo metin boyutunu küçült */
    }
}




/* Toggle Styles */

#viewport {
    padding-left: 200px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content {
    width: 100%;
    position: relative;
    margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 200px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar header {
    background-color: #263238;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
}

#sidebar header a {
    color: #fff;
    display: block;
    text-decoration: none;
}

#sidebar header a:hover {
    color: #fff;
}



.sidebar-toggle span {
    /* This will rotate the "<" icon */
    display: inline-block;
    transition: transform 0.3s;
}

.sidebar-content.active+.sidebar-toggle span {
    transform: rotate(180deg);
    /* Flip the arrow when sidebar is expanded */
}


/* #sidebar .nav {

} */

#sidebar .nav a {
    background: none;
    border-bottom: 1px solid #455A64;
    color: #CFD8DC;
    font-size: 14px;
    padding: 16px 24px;
}

#sidebar .nav a:hover {
    background: none;
    color: #ECEFF1;
}

#sidebar .nav a i {
    margin-right: 16px;
}

.pagination {
    justify-content: center;
}

.pagination li a {
    border: 1px solid #007bff;
    color: #007bff;
    border-radius: 5px;
    margin: 15px;
}

.pagination .active a {
    background-color: #007bff;
    color: white;
}

.pagination .disabled a {
    color: #ccc;
    border-color: #ccc;
}