{% extends "base.html" %}
{% load static %}

{% block title %}Raporlar{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Raporlar</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Müşteri Raporları</h5>
                                    <p class="card-text">Müşteri istatistikleri ve analizleri</p>
                                    <a href="{% url 'musteri:customer_reports' %}" class="btn btn-primary">Görüntüle</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Görev Raporları</h5>
                                    <p class="card-text">Görev takibi ve tamamlanma oranları</p>
                                    <a href="{% url 'musteri:task_reports' %}" class="btn btn-primary">Görüntüle</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Gider Raporları</h5>
                                    <p class="card-text">Gider takibi ve analizi</p>
                                    <a href="{% url 'musteri:expense_reports' %}" class="btn btn-primary">Görüntüle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
